@import 'base',
        'layout',
        'modules/button',
        'modules/menu-btn',
        'modules/comments',
        'modules/divider',
        'modules/plan',
        'modules/cp-card',
        'modules/dimention-headline',
        'modules/slider';


//--- Section Hero
.section-hero {
    margin-top: 2em;

    h1 {
        font-size: $headline-size-1-mob;
        @include transition(all);
        text-align: center;

        @include breakpoint-medium {
            font-size: $headline-size-1;
            text-align: left;
        }
    }

    h2 {
        font-size: $headline-size-3-mob;
        text-align: center;

        @include breakpoint-medium {
            font-size: $headline-size-3;
            text-align: left;

        }
    }

    hr {
        width: 80%;
        margin: 2em auto;

        @include breakpoint-medium {
            margin: 2em 0;
        }
        
        @include breakpoint-large {
            width: 90%;
        }
    }

    form {
        padding-top: 1em;
        label {
            position: relative;
            width: 90%;
        }

        @include breakpoint-large {
            label {
                width: 100%;
            }
        }
    }

    .hero-img {
    
        img {
            padding-top: 4em;

            @include breakpoint-medium {
                padding-top: 6em;
                width: 80%;
                margin: auto;
            }

            @include breakpoint-large {
                width: 100%;
                margin-left: 5em;
            }
        }

        
    }
}

//--- Section Plan
.section-plan {
    .plan-mark {
        margin: 2em 0 2em 1em;

        @include breakpoint-medium {
            margin: 2em 0 0 1em;
        }
    }
}

//--- Section About Plan
.section-about-plan {
    padding-top: 2em;

    .cell-header {
        display: flex;
        align-items: center;

        h2 {
            padding-right: 1rem;
            line-height: 1;
            font-size: 4rem;
            border-right: 0.1rem $color-dark solid;
            margin-bottom: 0;
        }

        h3 {
            padding: 0.2rem 0.5rem;
            margin-bottom: 0;
            font-size: 2rem;
        }

        p {
            text-transform: uppercase;
            padding: 0 0.7rem;

        }
    }

    .cell-content {
        margin-top: 1em;
    }

    .cell-img-wrap {
        display: flex;
    }

    .cell-img {
        width: 9em;
        height: 9em;
        border-radius: 50%;
        overflow: hidden;
        border: 0.1rem $color-dark solid;
        @include transition(all);

        @include breakpoint-large {
            width: 12em;
            height: 12em;
        }
    }

    .cell-img:not(:last-child){
        margin: 0 1em;
    }

    .cell-render {
        

        @include breakpoint-medium {
            max-width: 70%;
            margin: 0 auto;
        }
    }
}

//--- Section Container Living
.section-container-living {
    .h2 {
        font-size: 2.2rem;

        @include breakpoint-medium {
            font-size: 3rem;
        }
    }
}

//--- Section Cta
.section-cta {
    .plan-content p {
        padding-top: 1em;
    }
    .plan-mark {
        margin: 2em 0 3em 1em;

        @include breakpoint-medium {
            margin: 2em 0 0 1em;
        }
        
        @include breakpoint-large {
            margin: -2em 0 2em 1em;
        }
    }

    form {
        padding-top: 1em;

        label {
            position: relative;
            
            @include  breakpoint-medium {
                width: 90%;
            }
        }

        .font-handwritten {
            display: none;

            @include breakpoint-medium {
                display: block;
            }
        }

    }
}

//--- Section Donate
.section-donate {
    background: no-repeat $bg-gradient;
    min-height: 21.5em;

    .cell-content p{
        color: $color-light;
    }

    .headline-dim-light {
        h2 {
            position: relative;
            display: inline-block;
            padding: 0 0 0.4em 0;
            font-size: $headline-size-2-mob;
            color: $color-light-20;
            max-width: 80%;

            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                transform: translateX(-10%);
                width: 15%;
                height: 0.05rem;
                background-color: $color-light-20;
            }
            
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                width: 15%;
                height: 0.05rem;
                background-color: $color-light-20;
            }

            @include breakpoint-medium {
                font-size: $headline-size-2;
            }
        }

        .headline-label {
            font-family: $font-writing;
            line-height: 1.2;
            letter-spacing: initial;
            font-size: 0.55rem;
            text-transform: uppercase;
            color: $color-light-20;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-52%, 50%);
            width: 60%;
            text-align: center;
            z-index: 1;
            @include transition(all);
    
            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 7em;
                height: 3em;
                transform: translate(-125%, 2%);
                background: center / contain no-repeat url('/assets/img/dimention-light.svg');
            }
            
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                width: 7em;
                height: 3em;
                transform: translate(125%, 2%);
                background: center / contain no-repeat url('/assets/img/dimention-light.svg');
            }
    
            @include breakpoint-custom(25.8){
                font-size: 0.6rem;
            }
    
            @include breakpoint-medium {
                font-size: 0.8rem;
            }
        }
    }
}