@import 'base',
        '/assets/css/layout',
        '/assets/css/modules/button',
        '/assets/css/modules/menu-btn',
        '/assets/css/modules/comments',
        '/assets/css/modules/divider',
        '/assets/css/modules/plan',
        '/assets/css/modules/plan-mark',
        '/assets/css/modules/plan-tape',
        '/assets/css/modules/cp-card',
        '/assets/css/modules/dimention-headline',
        '/assets/css/modules/slider',
        '/assets/css/modules/cp-ruler';


//--- Section Hero
.section-hero {
    margin-top: 2em;

    h1 {
        font-size: $headline-size-1-mob;
        @include transition(all);
        text-align: center;

        @include breakpoint-medium {
            font-size: $headline-size-1;
            text-align: left;
        }
    }

    h2 {
        font-size: $headline-size-3-mob;
        text-align: center;

        @include breakpoint-medium {
            font-size: $headline-size-3;
            text-align: left;

        }
    }

    hr {
        width: 80%;
        margin: 2em auto;

        @include breakpoint-medium {
            margin: 2em 0;
        }
        
        @include breakpoint-large {
            width: 90%;
        }
    }

    form {
        padding-top: 1em;
        label {
            position: relative;
            width: 90%;
        }

        @include breakpoint-large {
            label {
                width: 100%;
            }
        }
    }

    .hero-img {
    
        img {
            padding-top: 4em;

            @include breakpoint-medium {
                padding-top: 6em;
                width: 80%;
                margin: auto;
            }

            @include breakpoint-large {
                width: 100%;
                margin-left: 5em;
            }
        }

        
    }
}

//--- Section Plan
.section-plan {
    .plan-mark {
        margin: 2em 0 2em 1em;

        @include breakpoint-medium {
            margin: 2em 0 0 1em;
        }
    }
}

//--- Section About Plan
.section-about-plan {
    padding-top: 2em;

    .cell-header {
        display: flex;
        align-items: center;

        h2 {
            padding-right: 1rem;
            line-height: 1;
            font-size: 4rem;
            border-right: 0.1rem $color-dark solid;
            margin-bottom: 0;
        }

        h3 {
            padding: 0.2rem 0.5rem;
            margin-bottom: 0;
            font-size: 2rem;
        }

        p {
            text-transform: uppercase;
            padding: 0 0.7rem;

        }
    }

    .cell-content {
        margin-top: 1em;
    }

    .cell-img-wrap {
        display: flex;
    }

    .cell-img {
        width: 9em;
        height: 9em;
        border-radius: 50%;
        overflow: hidden;
        border: 0.1rem $color-dark solid;
        @include transition(all);

        @include breakpoint-large {
            width: 12em;
            height: 12em;
        }
    }

    .cell-img:not(:last-child){
        margin: 0 1em;
    }

    .cell-render {
        

        @include breakpoint-medium {
            max-width: 70%;
            margin: 0 auto;
        }
    }
}

//--- Section Container Living
.section-container-living {
    .h2 {
        font-size: 2.2rem;

        @include breakpoint-medium {
            font-size: 3rem;
        }
    }
}

//--- Section Cta
.section-cta {
    .plan-content p {
        padding-top: 1em;
    }
    .plan-mark {
        margin: 2em 0 3em 1em;

        @include breakpoint-medium {
            margin: 2em 0 0 1em;
        }
        
        @include breakpoint-large {
            margin: -2em 0 2em 1em;
        }
    }

    form {
        padding-top: 1em;

        label {
            position: relative;
            
            @include  breakpoint-medium {
                width: 90%;
            }
        }

        .font-handwritten {
            display: none;

            @include breakpoint-medium {
                display: block;
            }
        }

    }
}

//--- Section Donate
.section-donate {
    background: no-repeat $bg-gradient;
    min-height: 21.5em;

    .cell-content p{
        padding-top: 1em;
        color: $color-light;
    }
}

//--- Why Containers Hero
.section-why-containers {
    margin-top: 2em;

    h1 {
        font-size: $headline-size-1-mob;
        @include transition(all);
        text-align: center;

        @include breakpoint-medium {
            font-size: $headline-size-1;
            text-align: left;
        }
    }

    h2 {
        font-size: $headline-size-3-mob;
        text-align: center;

        @include breakpoint-medium {
            font-size: $headline-size-3;
            text-align: left;

        }
    }

    .plan-mark {
        margin: 2em;
    }
}

//--- Section Stacked Plan
.section-stacked-plans {
    & > div:not(:last-child) {
        margin-bottom: 4em;
    }
}
